.cards-main{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
.card {
    background-color: black;
    width:50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    margin: 10px;
}
.card-heading{
    width: 40%;

}
.card-details {
    width: 10%;
    padding-left: 20px;
    padding-top: 40px;
}