.pagination {
    background-color: #FFD700;
    width: 100%;
}
.pagination-btn {
    height: 30px;
    width: 120px;
    color: white;
    margin: 10px;
    cursor: pointer;
    background-color: black;
}
.pagination-btn:disabled{
    background-color: lightgray;
    cursor: default;
}